.root {
    max-width: 100%;
    max-width: 100vw;
    margin: auto;
    display: flex;
    flex-direction: horizontal;
    flex-wrap: wrap;
    position: relative;
}

@media ( max-width: 920px) {
    .root {
        justify-content: center;
    }
}